@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    box-sizing: border-box;
    border: none;
}

header p{
    background-color: #1CD1B0 ;
    padding-left: 1%;
}
header h1{
    background-color: #00669F;
    color:white;
    padding: 1%;
}

section{
    margin-left: 35%;
    margin-top: 5%;
    width: 30%;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


section i{
    position: relative;
    bottom: 14em;
    left: 1em;
    color: red;
    height: 0.1em;
    font-size: 1.5em;
}

section img{
    border-radius: 10em;
    height: 9em;
    position: relative;
    bottom: 6em;
    left: 6em; 
}

section h2{
    position: relative;
    bottom: 4em;
    text-align: center;
    font-weight: 400;
    height: 1em;
}

section p{
    padding: 1em 2em;
    position: relative;
    bottom: 6em;
    height: 1em;
}

section button{
    position: relative;
    background-color: #00669F;
    color: white;
    border-radius: 3px;
    left: 9em;
    height: 3em;
    width: 8em;
    margin-bottom: 2em;
}

footer{
    margin-top: 5em;
    background-color: #00669F;
}

footer p{
    text-align: center;
    color: white;
    padding: 1em;
}

.fondo-batman{
    background-image: url('../assets/fondo-batman.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15em;
    border-radius: 20px 20px 0px 0px;
}

.fondo-ww{
    background-image: url('../assets/fondo-ww.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15em;
    border-radius: 20px 20px 0px 0px;
}

.fondo-superman{
    background-image: url('../assets/fondo-superman.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 15em;
    border-radius: 20px 20px 0px 0px;
}

.plus{
    background-color: #00669F;
    width: 4em;
    height: 4em;
    border-radius: 40px;
    position: fixed;
    top: 50%;
    left: 93%;

}

.plus i{
    position: relative;
    font-size: 2em;
    color: white;
    transform: translate(60%, 50%);
}